
  body {
    margin:0;
    font-family: 'Maven Pro', sans-serif;
    color:white;
    background: #202731;
  }
  html {
  scroll-behavior: smooth;
}
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 50px 20vw;
  }

h1 {
  font-size: 95px;
}

  .blue {
    background: #3c31dd;
  }

  .orange {
    background: #210f00;
    text-align: center;
  }

  .black {
    background: lightblue;
  }

  .green {
    background: #3d6a40; 
  }

  .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url('../images/layer1.svg');
  }

  .layer2 {
    background-image: url('../images/layer2.svg');
  }

  .layer3 {
    background-image: url('../images/layer3.svg');
  }

  .flip {
    transform: rotate(180deg);
  }

  .social {
    width: 70px;
    height: auto;
  }

.list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top:25%;
  right:40px;
  margin: auto;
  z-index: 10000000;
  text-align: right;
}

@media (max-width: 768px) {
.list {display: none;}
h1 {font-size: 50px;}
p {font-size: 20px;}
.links { width: 50px;}
.social {width:30px;}
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

 ::-webkit-scrollbar {width: 10px;}
 ::-webkit-scrollbar-track {background-color: transparent;}
 ::-webkit-scrollbar-thumb {border-radius: 5px; background-color: white;};

 .link {
  font-size: 4vw;
 }