
  body {
    margin:0;
    font-family: 'Maven Pro', sans-serif;
    color:white;
    background: #202731;
  }
  html {
  scroll-behavior: smooth;
}
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 50px 20vw;
  }
  .noshow {display: none;}
  .sidetitle {
    color: white;
    max-width: 100%;
    width: auto;
    height: auto;
    font-size: 35px;
    justify-content: center;
    text-align: center;
  }
.element1 {
  float: right;
  width: 30%;
  height: 80%;
  background: #fff;
  margin: auto;
  padding: 2%;
}
.element2 {
  float: left;
  width: 60%;
  background: #fff;
  margin: auto;
  padding: 2%;
  height: fit-content;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  text-align: left;
  font-weight: bold!important;
}
 .sidenav::-webkit-scrollbar {width: 10px;}
 .sidenav::-webkit-scrollbar-track {background-color: transparent;}
 .sidenav::-webkit-scrollbar-thumb {border-radius: 5px; background-color: #999;}

.main {
  margin-left: 240px; 
  font-size: 28px; 
  padding: 0px 10px;
}
.sidenav a {
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
}
.sidenav tr:hover {
  background-color: #999;
  border: 5px;
}
.sidenav img {
  width:60px;
  padding-left: 10px;
}

.sidenav span {
  display: block;
}

h1 {
  font-size: 95px;
}

  .blue {
    background: #3c31dd;
  }

  .orange {
    background: #210f00;
    text-align: center;
  }

  .black {
    background: lightblue;
  }

  .green {
    background: #3d6a40; 
  }

  .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url('../images/layer1.svg');
  }

  .layer2 {
    background-image: url('../images/layer2.svg');
  }

  .layer3 {
    background-image: url('../images/layer3.svg');
  }

  .flip {
    transform: rotate(180deg);
  }

  .social {
    width: 70px;
    height: auto;
  }

.list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top:25%;
  right:40px;
  margin: auto;
  z-index: 10000000;
  text-align: right;
}

@media (max-width: 768px) {
.list {display: none;}
h1 {font-size: 50px;}
p {font-size: 20px;}
.links { width: 50px;}
.social {width:30px;}
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

 ::-webkit-scrollbar {width: 10px;}
 ::-webkit-scrollbar-track {background-color: transparent;}
 ::-webkit-scrollbar-thumb {border-radius: 5px; background-color: white;};

 .link {
  font-size: 4vw;
 }